In [9]:
from pathlib import Path
import requests
def download_one_file_of_raw_data(year: int, month: int) -> Path:
    """
    Downloads Parquet file with historical taxi rides for the given `year` and
    `month`
    """
    URL = f'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_{year}-{month:02d}.parquet'
    response = requests.get(URL)

    if response.status_code == 200:
        path =  f'../data/raw/rides_{year}-{month:02d}.parquet'
        open(path, "wb").write(response.content)
        return path
    else:
        raise Exception(f'{URL} is not available')

In [2]:
download_one_file_of_raw_data(year=2023,month=10)

'../data/raw/rides_2023-10.parquet'

In [3]:
import pandas as pd
rides=pd.read_parquet('../data/raw/rides_2023-10.parquet')
rides.head(20)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2023-10-01 00:16:44,2023-10-01 00:16:49,1.0,0.00,1.0,N,168,168,2,3.0,1.0,0.5,0.00,0.00,1.0,5.50,0.0,0.00
1,1,2023-10-01 00:23:24,2023-10-01 00:23:47,1.0,0.00,1.0,N,168,168,2,3.0,1.0,0.5,0.00,0.00,1.0,5.50,0.0,0.00
2,1,2023-10-01 00:21:18,2023-10-01 00:27:31,1.0,0.90,1.0,N,161,186,1,6.5,3.5,0.5,2.90,0.00,1.0,14.40,2.5,0.00
3,1,2023-10-01 00:17:39,2023-10-01 00:17:47,0.0,0.00,1.0,N,255,255,3,3.0,1.0,0.5,0.00,0.00,1.0,5.50,0.0,0.00
4,2,2023-10-01 00:16:15,2023-10-01 00:22:57,2.0,1.41,1.0,N,151,239,1,10.0,1.0,0.5,3.00,0.00,1.0,18.00,2.5,0.00
5,2,2023-10-01 00:33:14,2023-10-01 00:52:12,1.0,3.15,1.0,N,238,246,1,19.8,1.0,0.5,4.46,0.00,1.0,29.26,2.5,0.00
6,2,2023-10-01 00:58:18,2023-10-01 01:01:20,2.0,0.67,1.0,N,50,50,1,5.8,1.0,0.5,2.16,0.00,1.0,12.96,2.5,0.00
7,2,2023-10-01 00:11:29,2023-10-01 00:32:55,2.0,14.93,1.0,N,208,239,1,37.3,1.0,0.5,14.77,6.94,1.0,65.76,2.5,1.75
8,1,2023-10-01 00:22:33,2023-10-01 00:34:00,0.0,3.20,1.0,N,87,249,1,16.3,3.5,0.5,4.25,0.00,1.0,25.55,2.5,0.00
9,1,2023-10-01 00:39:47,2023-10-01 00:48:48,1.0,1.30,1.0,N,125,231,1,10.0,3.5,0.5,2.00,0.00,1.0,17.00,2.5,0.00
10,1,2023-10-01 00:51:54,2023-10-01 00:57:12,0.0,1.00,1.0,N,144,13,1,7.9,3.5,0.5,0.00,0.00,1.0,12.90,2.5,0.00
11,2,2023-10-01 00:11:49,2023-10-01 00:33:31,1.0,2.52,1.0,N,232,158,1,19.1,1.0,0.5,4.82,0.00,1.0,28.92,2.5,0.00
12,2,2023-10-01 00:51:42,2023-10-01 01:02:51,2.0,4.04,1.0,N,161,42,1,17.7,1.0,0.5,4.54,0.00,1.0,27.24,2.5,0.00
13,2,2023-10-01 00:16:19,2023-10-01 00:27:27,1.0,1.70,1.0,N,148,170,1,11.4,1.0,0.5,3.28,0.00,1.0,19.68,2.5,0.00
14,2,2023-10-01 00:39:02,2023-10-01 00:46:09,1.0,1.98,1.0,N,230,140,1,10.7,1.0,0.5,2.00,0.00,1.0,17.70,2.5,0.00
15,1,2023-10-01 00:22:11,2023-10-01 00:37:00,1.0,1.80,1.0,N,164,79,1,14.9,3.5,0.5,2.00,0.00,1.0,21.90,2.5,0.00
16,1,2023-10-01 00:45:36,2023-10-01 00:50:25,1.0,1.70,1.0,N,148,65,1,9.3,3.5,0.5,2.85,0.00,1.0,17.15,2.5,0.00
17,2,2023-10-01 00:02:46,2023-10-01 00:09:52,1.0,1.88,1.0,N,142,236,1,10.7,1.0,0.5,2.36,0.00,1.0,18.06,2.5,0.00
18,2,2023-10-01 00:35:39,2023-10-01 00:51:02,1.0,2.86,1.0,N,238,42,1,17.7,1.0,0.5,4.04,0.00,1.0,24.24,0.0,0.00
19,2,2023-09-30 23:59:49,2023-10-01 00:21:59,1.0,3.80,1.0,N,249,52,1,23.3,1.0,0.5,5.66,0.00,1.0,33.96,2.5,0.00

In [4]:
rides=rides[['tpep_pickup_datetime','PULocationID']]

In [5]:
rides.rename(columns={'tpep_pickup_datetime':'pickup_datetime','PULocationID':'pickup_location_id'},inplace=True)
rides.head(20)

       pickup_datetime  pickup_location_id
0  2023-10-01 00:16:44                 168
1  2023-10-01 00:23:24                 168
2  2023-10-01 00:21:18                 161
3  2023-10-01 00:17:39                 255
4  2023-10-01 00:16:15                 151
5  2023-10-01 00:33:14                 238
6  2023-10-01 00:58:18                  50
7  2023-10-01 00:11:29                 208
8  2023-10-01 00:22:33                  87
9  2023-10-01 00:39:47                 125
10 2023-10-01 00:51:54                 144
11 2023-10-01 00:11:49                 232
12 2023-10-01 00:51:42                 161
13 2023-10-01 00:16:19                 148
14 2023-10-01 00:39:02                 230
15 2023-10-01 00:22:11                 164
16 2023-10-01 00:45:36                 148
17 2023-10-01 00:02:46                 142
18 2023-10-01 00:35:39                 238
19 2023-09-30 23:59:49                 249

In [6]:
rides['pickup_datetime'].describe()

count                          3522285
mean     2023-10-16 18:16:21.435218432
min                2008-12-31 23:03:12
25%                2023-10-08 22:28:52
50%                2023-10-16 21:05:59
75%                2023-10-24 14:58:06
max                2023-11-23 13:40:43
Name: pickup_datetime, dtype: object

In [7]:
rides = rides[rides.pickup_datetime >= '2023-10-01']
rides = rides[rides.pickup_datetime < '2023-11-01']
rides['pickup_datetime'].describe()

count                          3522232
mean     2023-10-16 18:25:19.290581504
min                2023-10-01 00:00:00
25%      2023-10-08 22:29:20.750000128
50%                2023-10-16 21:06:04
75%                2023-10-24 14:58:06
max                2023-10-31 23:59:58
Name: pickup_datetime, dtype: object

In [8]:
rides.to_parquet('/Users/yashwantsaikoneru/taxi_demand_predictor/data/raw/transformed/validated_rides_2023_10.parquet')